body {
  background-color: #483D8B;
  /* justify-items: center; */
  text-align: center;
  /* overflow-y: scroll; */
  zoom:0.9;
 }

.App {
  text-align: center;
  /* max-width: 728px; */
  margin: 0 auto;
 }

.App header {
  /* background-color: #181717; */
  height: 10vh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  /* max-width: 728px; */
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  /* background-color: rgb(40, 37, 53); */
}

main {
  padding: 10px;
  height: 80vh;
  margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  /* max-width: 728px; */
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  /* background: #1e1e24; */
}

main::-webkit-scrollbar-thumb {
  background: hwb(204 29% 22%);
}
.op:hover{
  /* a:hover { */
    background-color: grey;
  /* } */
}
form {
  height: 10vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* max-width: 888px; */
  display: flex;
  font-size: 1.1rem;
  margin-left: 20%;
  /* margin-right: 20%; */
  text-align: -webkit-center;
}

form button {
  /* width: 15%; */
    height: 8vh;
    margin-top: auto;
    /* text-align: -webkit-center; */
    /* margin-right: 10%; */
    background-color: rgb(56, 56, 143);
    display: grid;
}


input {
  line-height: 1.5;
  /* width: 350px; */
  font-size: 1rem;
  background: rgb(58, 58, 58);
  color: white;
  /* outline: none; */
  border: none;
  padding: 0 10px;
}

button{
  background-color: #483D8B; 
  /* background-color: #2eb82e; */
  border: none;
  color: white;
  /* padding: 0px 26px; */
  /* text-align: center; */
  /* text-decoration: none; */
  /* display: inline-block; */
  cursor: pointer;
  font-size: 1.25rem;
  margin-top: 1%;
  /* width: 335%; */
}
.footerDiv{
    display: flex;
    justify-content: space-around;
   
}
.footer{
    height: 8vh;
    position: fixed;
    bottom: 0;
    /* width: 80%; */
    /* max-width: 728px; */
    display: flex;
    font-size: 1.5rem;
    margin-left: 3%;
    margin-right: 3%;
    text-align: -webkit-center;
    margin-bottom: 2px;
    padding-left: 1%;
    padding-right: 1%;
     background-color:#483D8B;
}
.footerr{
  height: 8vh;
  position: fixed;
  bottom: 10%;
  right: 14%;
  cursor:pointer;
  /* max-width: 728px; */
  opacity: 70%;
  border-radius: 10%;
  border: solid;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


.sign-in {
  color: #282c34;
  background: white;
  /* max-width: 400px; */
  /* margin: 0 auto; */
}

/* .Diver{ */
  /* background-color: #0b93f6; */
/* } */


ul, li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 40px;
  position: relative;
  color: white;
  text-align: center;
}
html {
  scroll-behavior: smooth;
}

.message {
  display: flex;
  align-items: center;
}


.sent {
  color: white;
  background: #0b93f6;
  align-self: flex-end;

  flex-direction: row-reverse;

}
.received {
  background: #e5e5ea;
  color: black;
}
img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}
.Diver{
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* flex-wrap: wrap; */
} 
.inputer
{
  width: inherit;
  border-radius: 15px;
  margin-right: 12px;
}
.dummy {
  scroll-behavior: smooth;
}
.wrapper{
  width: 335px;
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
  /* justify-self: start; */
  /* flex-wrap: wrap-reverse; */
}
.timer{
  font-size:x-small;
}
.Scroller:hover
{
  background:grey;
}
.Scroller{
  background-color: #483D8B;
}
.lists{
  margin-bottom: 8%;
  margin-top: 3%;
  /* max-width: 728px;   */
}

@media (max-width: 730px) {
  .lists{
    margin-bottom: 15%;
    margin-top: 3%;
    /* max-width: 728px;   */
  }
}